{% set article_show =  path('article_show', {'slug': article.slug})  %}
{% apply inline_css %}

<style>

    .hyperlien a:hover {
        opacity: 0.8;
    }
</style>

<article class="mb-5">
    <div class="row">

        <div class="col-md-5">
            {% if article.featuredImage %}
                <a href="{{path('article_show', {'slug': article.slug}) }}" style="height: 300px;">
                    <img style="max-height: 250px; width: 100%; object-fit:cover" src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" />
                </a>
            {% endif %}            
        </div>

        <div class="col-md-7">
            <h2 class="hyperlien">
                <a class="text-decoration-none text-black" href="{{ article_show }}">{{ article.title }}</a>
            </h2>
            <p class="mt-3 text-black text-opacity-50 fw-semibold" style="font-size: 13px;">
                {{ article.createdAt|date('d M Y')}}
            </p>

            <p>{{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}</p>
        </div>
        
    </div>
</article>

{% endapply %}