{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col">
                <h2 class="fw-bolder">Profil de {{ user.username|capitalize }} </h2>

                <section class="d-flex justify-content-between container-90 align-items-top mt-5">

                    <div class="container" style="width: 35%;">
                        <h4 class="mb-3">Informations personnelles</h4>

                        {{ form(form) }}
    
                        {% for message in app.flashes('success') %}
                        <div class="alert alert-success mt-4">
                            {{message}}
                        </div>
                        {%endfor%}
    
                    </div>
    
                    <div class="container" style="width: 35%;">
                        <h4 class="mb-3">Mot de passe</h4>
                        {{ form(passwordForm) }}
    
                        {% for message in app.flashes('success2') %}
                        <div class="alert alert-success mt-4">
                            {{message}}
                        </div>
                        {%endfor%}
    
                    </div>
                </section>

                <div class="mb-3 mt-5 w-50 m-auto">
                    <p class="fs-5 fw-bold">Nombre de commentaires postés : {{ user.comments|length }}</p>


                    {% for comment in user.comments  %}

                        <div class="py-2 px-3 container d-flex justify-content-between bg-secondary bg-opacity-10">

                            <p>{{ comment.article.title }} </p>

                            <div>
                                <p>{{ comment.content }}</p>

                                <p 
                                    style="font-size: 12px;" 
                                    class="date_comment_profil text-dark text-secondary text-opacity-50">
                                    {{ comment.createdAt|date('d M Y à H:i:s') }}
                                </p>
                            </div>
                            

                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>
    </div>

{% endblock %}
