{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container w-25">
    <form method="post" style="height: 400px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputUsername" class="mb-2">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
        
        <label for="inputPassword" class="mb-2">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="px-4 mt-3 btn text-black" style="border-radius: 2px; background-color: #84ebad;" type="submit">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
